<link rel="stylesheet" class="aplayer-secondary-style-marker" href="https://cdn.jsdelivr.net/npm/aplayer@latest/dist/APlayer.min.css"><script src="https://cdn.jsdelivr.net/npm/aplayer@latest/dist/APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="https://cdn.jsdelivr.net/npm/meting@1/dist/Meting.min.js"></script>a {
  color: #FFA500;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover,
a:focus {
  color: #db2828;
}

a:active {
  color: #FFCC66;
}

:root {
  --smc-link-color: #FFCC66;
}

.with-love {
  display: inline-block;
  margin: 5px 5px 0 5px;
  color: #FFCC66;
}

.category-lists .category-list-item:hover::before {
  color: #FFCC66;
}

.post-eof {
  margin: 50px auto;
  width: 50%;
  height: 1px;
  background: #FFCC66;
  opacity: 0.1;
}

.post-copyright {
  border-left: 4px solid #FFCC66;
}

/* copyright左端颜色 */

.markdown-body blockquote {
  border-left: 4px solid #FFCC66;
}

/* markdown引用块左端颜色 */

/* 以下为改girls页面为littleworld页面 */
.girl-item .girl-avatar {
  object-fit: cover;
  object-position: center top;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgb(0 0 0 / 12%);
  transition: 0.5s;
}

.girl-item .girl-name {
  font-size: 1.8rem;
}

.girl-item .girl-from {
  font-size: 12px;
  font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
  font-weight: bold;
  color: #fff;
}

.girl-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 0;
}

.girl-item .girl-from {
  visibility: hidden;
}

.girls-number {
  visibility: hidden;
}

:root {
  --smc-secondary: #FFCC66;
  --hty-link-color: #FFCC66;
  --smc-primary: #FFCC66;
  --smc-c-primary: #FFCC66;
}

.girl-url {
  target: "_self";
}


.tag-cloud a {
  color: #FFCC66 ! important;
}

.markdown-body table>tbody>tr:hover {
  background-color: rgba(255, 204, 102, .1);
}

.markdown-body table td,
.markdown-body table th {
  border: 2px solid #FFCC66;
}

/* 标签颜色 */


.link-url {
  transition: 0.4s;
}

.link-url:hover {
  border-radius: 10px;
  transform: translateY(-5px)
}

/* 友链 */

.girl-item .girl-avatar:hover {
  transform: scale(1.1);
}

/* 世界页面 */

.w-full {
  border-radius: 10px;
}

.w-full:hover {
  border-radius: 10px;
  transform: scale(1.03);
}

/* 主页文章卡片 */
.notice {
  border-radius: 10px;
}

/* 可爱 */
.hty-card {
  border-radius: 10px;
}

/* 文章圆角 */
#page,
#archive,
#tag,
#category {
  border-radius: 10px;
}

/* 其他页面圆角 */
aside.sidebar {
  border-top-right-radius: 10px;
  /* border-bottom-right-radius: 100px; */
}

/* 侧栏 */
a.site-author-avatar {
  transition: 0.15s;
}

a.site-author-avatar:hover {
  transform: scale(1.05);
}

/* 头像 */
.hty-icon-button:hover {
  cursor: url(https://gcore.jsdelivr.net/gh/JollyLight/images/main_interface/Hand.cur), pointer ! important;
}

.wl-btn,
.wl-action,
.wl-sort li,
[data-waline] a {
  cursor: url(https://gcore.jsdelivr.net/gh/JollyLight/images/main_interface/Hand.cur), pointer ! important;
}

textarea {
  cursor: url(https://gcore.jsdelivr.net/gh/JollyLight/images/main_interface/IBeam.cur), pointer ! important;
}

/* 光标bug修复 */
.sidebar .links-of-author-item:hover,
.sidebar .links-item .icon:hover {
  transition: 0.2s;
}

.sidebar .links-of-author-item:hover,
.sidebar .links-item .icon:hover {
  transform: scale(1.2);
}

.site-state-item-icon .icon {
  transition: 0.2s;
}

.site-state-item-icon .icon:hover {
  transform: scale(1.2);
}

/* 侧栏图标hover放大 */